<div>
    <div>

        <div id="titulo">
            <h1 ng-if="order.status=='requested'">Solicitado</h1>
            <h1 ng-if="order.status=='finished'">Completado</h1>
            <h1 ng-if="order.status=='draft'">Nuevo Pedido</h1>
        </div>

        <div class="botones" ng-if="order.status=='draft'">
            <button ng-click="toIndent()" class="btn-option center-elements" id="send">Enviar</button>
            <button ng-click="save()" class="btn-option center-elements">Guardar</button>
        </div>

        <div id="cabecera">
            <label>Cliente: </label>
            <input ng-if="order.status=='draft'" class="input-txt" type="text" name="clientName" ng-model="order.customer" required>
            <input ng-if="order.status=='requested'" class="input-txt" type="text" name="clientName" value="{{order.customer}}" disabled>
            <input ng-if="order.status=='finished'" class="input-txt" type="text" name="clientName" value="{{order.customer}}" disabled>
            <br/>
            <br/>
            <label>Estado: </label>
            <label ng-if="order.status=='draft'"> Borrador </label>
            <label ng-if="order.status=='requested'">Solicitado  ({{order.date}})</label>
            <label ng-if="order.status=='finished'"> Completado </label>
        </div>
    </div>

    <div id="supTable">
        <table id="product-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <th>Conteo Productos: </th>
                <th>
                    <span id="productsTotal">{{order.products.length}}</span>
                </th>
            </tfoot>
            <tbody>
                <tr ng-repeat="inProduct in order.products track by $index">
                    <td>
                        <label>{{productDictionary[inProduct]}}</label>
                    </td>
                    <td ng-if="order.status=='draft'">
                        <a ng-click="deleteById(inProduct)"> Eliminar </a>
                    </td>
                    <td ng-if="order.status=='requested'">

                    </td>
                </tr>

                <tr ng-if="order.status=='draft'">
                    <td>
                        <select id="table-select" type="text" name="productName" required>
                            <option ng-repeat="product in products" value="{{product._id}}">{{product.name}}</option>
                        </select>
                    </td>
                    <td>
                        <button ng-click="addProduct()" id="add">Agregar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>