<div id="titulo">
    <h1>Pedidos</h1>
</div>

<form action="#!nuevo" method="get">
    <div class="botones">
        <button>Crear Nuevo</button>
    </div>
</form>

<header id="navbar">
    <ul id="tabs">
        <li data-id="pos1">Borradores</li>
        <li data-id="pos2" class="selected">Solicitados</li>
        <li data-id="pos3">Completados</li>
    </ul>
</header>

<div id="pos1" class="hidden">


    <div id="supTable">
        <table id="t01">
            <thead id="table-head">
                <tr>
                    <th>ID Pedido</th>
                    <th>Cliente</th>
                    <th class="side-border">Productos</th>
                    <th>Fecha de solicitud</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="draftOrder in draftOrders">
                    <td>{{draftOrder._id}}</td>
                    <td>{{draftOrder.customer}}</td>
                    <td>{{draftOrder.products.length}}</td>
                    <td>{{draftOrder.date}}</td>
                    <td>
                        <a href="#!verOrden/{{draftOrder._id}}">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="pos2">

    <div id="supTable">
        <table id="t01">
            <thead id="table-head">
                <tr>
                    <th>ID Pedido</th>
                    <th>Cliente</th>
                    <th class="side-border">Productos</th>
                    <th>Fecha de solicitud</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="requestedOrder in requestedOrders">
                    <td>{{requestedOrder._id}}</td>
                    <td>{{requestedOrder.customer}}</td>
                    <td>{{requestedOrder.products.length}}</td>
                    <td>{{requestedOrder.date}}</td>
                    <td>
                        <a href="#!verOrden/{{requestedOrder._id}}">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="pos3" class="hidden">

    <div id="supTable">
        <table id="t01">
            <thead id="table-head">
                <tr>
                    <th>ID Pedido</th>
                    <th>Cliente</th>
                    <th class="side-border">Productos</th>
                    <th>Fecha de solicitud</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="finishedOrder in finishedOrders">
                    <td>{{finishedOrder._id}}</td>
                    <td>{{finishedOrder.customer}}</td>
                    <td>{{finishedOrder.products.length}}</td>
                    <td>{{finishedOrder.date}}</td>
                    <td>
                        <a href="#!seeOrder/{{finishedOrder._id}}">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>